
# Para todos os arquivos e sub-pastas localizados na pasta vendor/
vendor/
# Para arquivos Java compilados
*.class
# Para código C
*.so
# Para todos os arquivos e sub-pastas localizados na pasta bower_components
ower_components

src/main
.project
.classpath
.settings


